[submodule "paint-nextjs"]
	path = paint-nextjs
	url = https://github.com/JAfar133/paint-nextjs
[submodule "paint-nodejs"]
	path = paint-nodejs
	url = https://github.com/JAfar133/paint-nodejs
[submodule "paint-tiles"]
	path = paint-tiles
	url = https://github.com/JAfar133/paint-tiles
